[Desktop Entry]
Encoding=UTF-8
Name=Create a LiveUSB
Name[fr]=Créer un LiveUSB
Exec=tazbox su tazusb-box
Icon=usb-creator
Type=Application
Categories=System;
