[Desktop Entry]
Type=Application
Name=Create a LiveUSB
Name[fr]=Créer un LiveUSB
Name[pl]=Utwórz LiveUSB
Name[pt]=Criação de LiveUSB
Name[pt_BR]=Criação de LiveUSB
Name[ru]=Создать LiveUSB
Exec=tazbox su tazusb-box
Icon=drive-harddisk-usb
Categories=System;FileSystem;
