[Desktop Entry]
Encoding=UTF-8
Name=Tazusb LiveUSB Tool
Name[fr]=Créer un LiveUSB
Exec=subox tazusbbox
Icon=media-flash
Type=Application
Categories=System;
